
# Vscode
 .vscode

# Bundle, Zip et Resultat
 ./*/H19-P1-bundles
 ./*/H19-P1-bundles.zip
 ./*/unbundled
 ./*/Resultats

# Cache Python
 .__pycache__
 .pytest_cache
 ./*/__pycache__
 ./*/pytest_cache
