
# Vscode
.vscode

# Bundle,
H19-P1-bundles
A18-P2-bundles
unbundled
*-bundles
# Zip
*.zip

# Resultat
*/Resultats

# Cache Python
.__pycache__
.pytest_cache
 */__pycache__
 */pytest_cache
*/__pycache__/*
