
# Vscode
.vscode
*/.vscode

# Fichier de sauvegarde de la correction
*.save
*/*.save
*/*/*.save

# Bundle,
H19-P1-bundles
A18-P2-bundles
unbundled
*-bundles

#unbundled
*/H*
*/A*
#Resultats
result

# Zip
*.zip

# Resultat
*/Resultats

# Cache Python
.__pycache__
.pytest_cache
 */__pycache__
 */pytest_cache
*/__pycache__/*
